﻿/* Large desktop */
@media (max-width: 1200px) {
	.container {
		width: 100%;
	}

	.container {
		padding: 0 15px;
	}

	h1 {
		font-size: 5rem;
	}

	.half-span li figure img {
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.preview-panel .container span {
		display: block;
	}

	.preview-panel .container .btn, .preview-panel .container a.btn {
		margin: 10px 0 0 0;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) { 
	.half-span {
		padding: 0 30px 0 0;
	}

	h1 {
		font-size: 4rem;
	}	

	.btn, a.btn {
		font-size: 1.4rem;
	}

	h1 small {
		font-size: 1.4rem;
	}

	.circle {
		width: 75px;
		height: 75px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.hide-on-mobile {
		display: none;
	}

	.display-on-mobile {
		display: inline-block;
	}

	.half-span {
		width: 100%;
	}

	.half-span, .half-span:nth-child(even) {
		padding: 0;
	}

	header {
		margin: 0;
	}

	h1 {
		text-align: left;
		font-size: 2rem;
		margin: 0 0 25px;
		line-height: 30px;
	}

	h1 small {
		font-size: 1rem;
		margin: 10px 0 0;
	}

	h2 {
		font-size: 1rem;
	}

	.logo {
		margin: 0 15px 0 0;
	}

	.half-span ul {
		padding: 0;
	}

	.button-holder {
		text-align: center;
	}

	.social-media {
		width: 100%;
	}

	.login-main {
		display: block;
	}

	.login-main .half-span {
		margin: auto;
		float: none;
		min-width: 290px;
		width: 40%;
	}

	.login-main .half-span h1 {
		text-align: right;
		font-size: 4rem;
		line-height: .9em;
		margin: 0 0 15px;
	}

	.login-main .half-span img {
		width: 100%;
	}

	.create-list-main .half-span li {
		padding: 20px 0;
	}

	/*.full-span .button-holder {
		margin: 0 0 200px;
	}*/

	.half-span .button-holder, .full-span .button-holder {
		margin: 0 0 160px;
	}

	.create-list-mob-header {
		float: left;
		font-size: 1.8rem;
		margin: 25px 0 50px;
	}

	.create-list-mob-header small {
		text-transform: uppercase;
		font-weight: bold;
	}

	.form label {
		font-size: 1rem;
	}

	.preview-panel {
		margin: 0 0 110px;
		padding: 35px 0 60px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.mob-show {
		display: block;
	}
	.logo img {
		width: 60px;
	}

	.btn, a.btn {
		font-size: 1rem;
	}

	.login-main {
		margin-top: 21%;
	}

	.full-span .button-holder {
		padding: 25px 0 0;
	}

	.full-span .button-holder .btn, .full-span .button-holder a.btn {
		display: block;
	}

	.create-list-mob-header {
		margin: 8px 0 35px;
		font-size: 1.2rem;
		line-height: 20px;
	}

	.create-list-mob-header small {
		font-size: .8rem;
	}

	.form label {
		font-size: .8rem;
	}

	.form textarea, .form select {
		padding: 10px;
		font-size: 1rem;
	}

	.my-list-main .half-span ul {
		margin: 0 0 150px;
	}

	.mob-hide {
		display: none;
	}

	.preview-panel {
		margin: 0;
		padding: 25px 0;
	}

	.preview-panel .container {
		font-size: .9rem;
		text-align: left;
	}

	.preview-panel .container span:first-child {
		margin: 0 0 12px;
	}

	.my-list-main h1 {
		margin-top: 0;
	}

	.btn-publish, a.btn-publish {
		display: block;
	}
}

@media (max-height: 500px) {
	footer {
		position: static;
	}

	.half-span ul {
		margin: 0;
	}

	.preview-panel {
		margin: 0;
	}
}