﻿@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,500);
@import url(https://fonts.googleapis.com/css?family=Muli);

*
{
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	box-sizing: border-box;
}

html {
	background: #dad7d6;
}

body
{
	font: 100% 'Raleway', sans-serif;
	word-wrap: break-word;
	background: linear-gradient(top, white, #dad7d6);
	background: -moz-linear-gradient(top, white, #dad7d6);
	background: -webkit-linear-gradient(top, white, #dad7d6);

}

p
{
	margin: 0 0 10px;
}

img
{
	border: 0;
}

a, a:link, a:visited
{
	text-decoration: none;
	outline: 0;
	color: #336699;
}

a:hover
{
	text-decoration: underline;
}

ul
{
	list-style: none;
}

header, footer, section, article, aside, nav, menu
{
	display: block;
}

.btn::-moz-focus-inner
{
	border:0;
	padding:0;
} /* To remove extra padding from input button... .button is the class name of the input button */









.clr
{
	clear: both;
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

.null
{
	line-height: 0;
	font-size: 0;
}










header {
	margin: 0 0 100px;
}

.row {
	margin: 0 0 25px;
}

.container {
	width: 1170px;
	overflow: auto;
	margin: auto;
}

.display-on-mobile, .mob-show {
	display: none;
}

.logo {
	margin: 0 25px 0 0;
}

.list-maker {
	margin: 25px 0 0;
}

.list-maker figure {
	display: flex;
}

.list-maker figcaption {
	margin: 16px 0 0 10px;
}

.social-media {
	margin: 25px 0 0;
	font-size: .90rem;
	font-weight: bold;
}

.social-media .fa {
	margin: 0 0 0 8px;
	vertical-align: middle;
	font-size: 30px;
	color: #0083bf;

}

main .container {
	overflow: visible;
}

.half-span {
	width: 50%;
	float: left;
	padding: 0 70px 0 0;
}

.half-span:nth-child(even) {
	padding: 0;	
	float: right;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-size: 6rem;
	text-align: right;
	line-height: .9em;
	margin: .9em 0 .1em;
}

h1 small {
	display: block;
	text-transform: none;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1em;
	margin: 25px 0 0;
}

.half-span ul {
	border-top: 1px solid #bbbaba;
	border-bottom: 1px solid #bbbaba;
	padding: 20px 0;
	margin: 0 0 25px;
}

.half-span li {
	padding: 20px 0;
	border-bottom: 1px solid #989898;
	overflow: auto;
	display: flex;
	align-items: center;
}

.half-span li:last-child {
	border: none;
}

h2 {
	font-size: 1.6rem;
}

h2 small {
	text-transform: none;
	font-weight: normal;
	display: block;
}

.half-span li .fa-mail-forward {
	font-size: 35px;
	color: #bad2de;
}

.half-span li div {
	margin: 0 3% 0 2%;
}

.btn, a.btn {
	font-family: 'Muli', sans-serif;
	font-size: 1.5rem;
	color: #336699;
	border: 1px solid #336699;
	border-radius: 5px;
	display: inline-block;
	padding: 7px 15px;
	background: none;
	cursor: pointer;
}

.btn:hover, a.btn:hover, .btn-publish, a.btn-publish {
	text-decoration: none;
	background: #0083bf;
	border: 1px solid #0083bf;
	color: white;
}

.button-holder {
	text-align: right;
	margin: 20px 0;
}

.button-holder .btn, .button-holder a.btn {
	margin: 0 0 0 10px;
}

.button-holder .btn:first-child, .button-holder a.btn:first-child {
	margin: 0;
}

footer {
	background: black;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-text {
	text-align: center;
	padding: 25px 0;
	font-size: .8rem;
	font-family: 'Muli', sans-serif;
}

.footer-text a, .footer-text a:link, .footer-text a:visited {
	color: #cceeff;
	margin: 0 10px 0 0;
}

.login-main {
	display: flex;
	align-items: center;
	margin-top: 12%;
}

.login-main h1 {
	margin: 0;
}

.create-list-main h1 {
	margin: 0 0 30px;
	font-size: 4rem;
}

.create-list-main h1 small {
	margin: 0 0 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.full-span {
	width: 100%;
	clear: both;
}

.full-span .button-holder {
	text-align: center;
	margin: 0 0 100px;
	padding: 40px 0 0;
}

.create-list-main .half-span ul {
	margin: 0;
}

.form textarea, .form select {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #c2c2c2;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	color: #666666;
	width: 100%;
}

.form textarea {
	resize: none;
}

.form ::-moz-placeholder {
	color: black;
}

.form ::-webkit-input-placeholder {
	color: #767676;
}

.form label {
	display: block;
	font-size: 1.3rem;
	margin: 0 0 8px;
	text-transform: uppercase;
	font-weight: bold;
}

.form-elements {
	margin: 0 0 25px;
}

.optional, .half-span li div.optional {
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	color: #666666;
	margin: 6px 0 0;
}

.create-list-main .half-span ul {
	padding: 0;
}

.create-list-main .half-span li {
	padding: 20px 30px;
}

.half-span li div.circle {
	margin: 0 15px 0 0;
}

.half-span li div.right-content {
	margin: 15px 0 0;
}

.circle {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	border: 1px solid #0083bf;
	text-align: center;
	cursor: pointer;
}

.circle span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.circle img {
	vertical-align: middle;
}

.right-content {
	flex: 2;
}

.my-list-main .half-span ul {
	margin: 0 0 30px;
}

.preview-panel {
	background: #b3d0d0;
	padding: 35px 0 50px;
	margin: 0 0 60px;
}

.preview-panel .container {
	text-align: center;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: bold;
}

.preview-panel .container .btn, .preview-panel .container a.btn {
	text-transform: none;
	font-weight: normal;
	margin: 0 0 0 10px;
}
